
.reset-pwd-container{
    width: 100%;
   font-family: var(--lato-font);
   background-color: var(--primary-transparent);
   margin: 0;
   min-height: 100vh;
   max-height: max-content;
}
.reset-pwd-card{
   display: flex;
   flex-direction: column;
   width: 28rem;
   border-radius: var(--radius-md);
   background-color: var(--white);
   box-shadow: var(--box-shadow-1);
   height: fit-content;
   padding: var(--size-sm) var(--size-md) ;
   margin: 2rem 0;
}

.reset-pwd-card input{
 height: var(--size-lg);
 font-size: 1.1rem;
}


.reset-pwd-card input:focus{
    border: 2px solid var(--primary);
}

.reset-pwd-card .btn{
    padding: var(--size-sm);
    border: none;
    justify-content: center;
    width: 100%;
    margin: 0.5rem;
}

@media only screen and (max-width: 800px){
    .reset-pwd-card{
        width: fit-content;
    }
}
