.single-product-page {
  font-family: var(--lato-font);
  background-color: var(--primary-transparent);
  min-height: 100vh;
  max-height: max-content;
}

.product-box,
.product-description-box {
  width: 80%;
  /* border: 1px solid black; */
  background-color: var(--white);
  box-shadow: var(--box-shadow-simple);
  margin-left: 8rem;
  margin-top: 3rem;
  gap: 2rem;
  padding: 2rem;
}
.product-description-box {
  margin-bottom: 10rem;
}
.single-product-page .product-img {
  width: 17rem;
  height: 25rem;
}

.single-product-page .card-ratings {
  width: 3.8rem;
}

.single-product-page .card-pricing {
  font-size: 1.5rem;
}
.product-description {
  width: 25rem;
}
.product-info {
  /* border: 1px solid black; */
  margin-left: auto;
  gap: 2rem;
}
.product-details {
  gap: 1rem;
}
@media screen and (max-width: 800px) {
  .product-box {
    flex-direction: column;
    margin-left: 2rem;
  }
  .product-description-box {
    flex-direction: column;
    margin-left: 2rem;
  }
  .product-description {
    width: 15rem;
  }
  .single-product-page .product-img {
    width: 12rem;
    height: 20rem;
  }
  .single-product-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 370px) {
  .product-box,
  .product-description-box {
    padding: 10px;
  }
}
