nav a {
  text-decoration: none;
  color: var(--primary);
}

nav {
  flex-wrap: wrap;
  height: 5rem;
  /* align-items: center; */
  justify-content: space-around;
  padding: 0.5rem 0;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  font-family: var(--acme-font);
}

#search-bar,
.search-field {
  border-radius: 5px;
  border: 2px solid var(--primary);
}

.search-field {
  position: relative;
  width: 18.75rem;
  background-color: var(--white);
}

.dark-brown-color {
  color: var(--dark-brown);
}

#search-icon {
  position: absolute;
  top: 20%;
  right: 2%;
}

#search-bar {
  border: none;
  height: 2.5rem;
  width: 85%;
  font-size: 1.2rem;
  padding: 0rem 0.5rem;
}
/* .navbar {
  position: relative;
} */

.btn-login,
.btn-logout {
  width: 6rem;
  font-size: 1.1rem;
  padding: 0.5rem 1.75rem;
}
.nav-pills i {
  cursor: pointer;
  font-size: 2rem;
}
.mobile-header {
  display: none;
}

@media only screen and (max-width: 900px) {
  nav {
    height: min-content;
    justify-content: flex-start;
  }
  #search-bar,
  .search-field {
    display: none;
  }
  .nav-pills {
    display: none;
  }
  .mobile-header {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    align-items: center;
  }
  .nav-brand {
    display: none;
  }
}
